.navitem {
  list-style-type: none;
  overflow: hidden;
}

li.navitem a.navLink {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: white;

  padding: 0 20px 0 20px;
  height: 46px;
  text-decoration: none;

  display: flex;
  align-items: center;
}

li.navitem a.navLink:hover, li.navitem a.active {
  background-color: #ff63de;
}

li.navitem div.dropdownContent {
  display: none;
  position: fixed;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  min-width: 160px;
  background-color: rgba(0,0,0,0.7);
}

li.navitem div.dropdownContent a.navLink {
  float: none;
  display: block;
  font-size: 13px;
  font-weight: 500;

  display: flex;
  align-items: center;
}

li.navitem:hover div.dropdownContent {
  display: block;
}

div.dropdownContent ul {
  display: flex;
  flex-direction: column;
}

div.dropdownContent a.navLink:hover {
  background-color: #55595c;
}

@media screen and (max-width: 800px) {
  li.navitem:hover div.dropdownContent {
    display: block;
    position: relative;
  }
}