.navbar {
  background-color: rgba(0,0,0,0.7);
  min-height: 46px;
  min-width: 96vw;
  position: fixed;
  top: 8px;
  left: 8px;
  right: 8px;
  z-index: 10;
}

.navbar ul {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  min-height: 46px;
}