li {
  list-style-type: none;

  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: white;
}

.navbar a {
  padding: 0 20px 0 20px;
  height: 46px;
  text-decoration: none;

  display: flex;
  align-items: center;
}

.navbar a:hover, .navbar .active {
  background-color: #ff63de;
}