.imageBox {
  display: flex;
  
  text-align: left;
  margin: 0;
  margin-bottom: 20px;
}

.imageBoxText {
  margin-left: 20px;
}

.imageBoxText h3 {
  margin-top: 0;
}

.imageBoxText h3 a {
  font-size: 20px;
}

.imageBoxText p {
  margin-bottom: 0;
}

@media only screen and (max-width: 800px) {
  .imageBox {
    flex-wrap: wrap;
  }

  .imageBox img, .imageBox a {
    margin:auto;
  }

  .imageBoxText {
    margin-left: 0;
  }
}